@import url(./reset.css);
@font-face {
  font-family: "Inter-reg";
  src: url(./src/fonts/Inter_24pt-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Inter-bold";
  src: url(./src/fonts/Inter_24pt-SemiBold.woff2);
  font-weight: 600;
}
.profile__list .active {
  color: #1814f3 !important;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--color-main);
  border-radius: 10px 10px 0 0;
  left: 0;
  bottom: 0;
}

.current {
  color: #1814f3;
  position: relative;
}

.current:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0 10px 10px 0;
  background-color: #1814f3;
}

:root {
  --color-main: #1814f3;
  --color-nav-blue-gray: #718ebf;
  --color-nav-gray: #b1b1b1;
  --color-abs-white: #ffffff;
  --color-title: #343c6a;
  --color-lines: #e6eff5;
  --color-bg: #f5f7fa;
  --color-fonts: #8ba3cb;
  --color-input-border:#DFEAF2;
  --font-gray:#232323;
  --ff-intreg: "Inter-reg";
  --ff-intbold: "Inter-bold";
  --f-size28: 28px;
  --f-size20: 20px;
  --f-size18: 18px;
  --f-size16: 16px;
  --f-size15: 15px;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  background-color: var(--color-bg);
  min-width: 1200px;
}

.header {
  background-color: var(--color-abs-white);
  padding: 20px 40px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--color-lines);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header__avatar-img {
  width: 50px;
  border-radius: 50%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__avatar {
  width: 50px;
}
.header__title {
  font-family: var(--ff-intbold);
  color: var(--color-title);
  font-size: var(--f-size28);
}
.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 40px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  background-color: var(--color-bg);
  width: 255px;
}
.header__form:hover {
  outline: 1px solid var(--color-main);
}
.header__form:focus {
  outline: 1px solid var(--color-main);
}
.header__button-form {
  padding-left: 25px;
}
.header__form-input {
  font-family: var(--ff-intreg);
  line-height: 18.15px;
  color: var(--color-fonts);
  font-size: var(--f-size15);
}
.header__form-input::-webkit-input-placeholder {
  color: var(--color-fonts);
}
.header__form-input::-moz-placeholder {
  color: var(--color-fonts);
}
.header__form-input:-ms-input-placeholder {
  color: var(--color-fonts);
}
.header__form-input::-ms-input-placeholder {
  color: var(--color-fonts);
}
.header__form-input::placeholder {
  color: var(--color-fonts);
}
.header__button {
  background-color: var(--color-bg);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.header-mobile {
  background-color: var(--color-abs-white);
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.header-mobile__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 40px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  background-color: var(--color-bg);
  width: 100%;
  padding: 12px 0;
  padding-left: 19px;
}
.header-mobile__form-input {
  font-family: var(--ff-intreg);
  line-height: 18.15px;
  color: var(--color-fonts);
  font-size: var(--f-size15);
}
.header-mobile__form-input::-webkit-input-placeholder {
  color: var(--color-fonts);
}
.header-mobile__form-input::-moz-placeholder {
  color: var(--color-fonts);
}
.header-mobile__form-input:-ms-input-placeholder {
  color: var(--color-fonts);
}
.header-mobile__form-input::-ms-input-placeholder {
  color: var(--color-fonts);
}
.header-mobile__form-input::placeholder {
  color: var(--color-fonts);
}
.header-mobile__button {
  background-color: var(--color-bg);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.header-mobile-button {
  width: 16px;
  aspect-ratio: 1;
}

.header__form .header__form-input,
.header__form .header__button-form {
  height: 100%;
  background-color: transparent;
}

.aside {
  font-family: var(--ff-intreg);
  font-size: var(--f-size18);
  color: var(--color-nav-gray);
  padding-right: 22px;
  height: 100%;
  border-right: 1px solid var(--color-lines);
  background-color: var(--color-abs-white);
  height: 100vh;
}
.aside__logo {
  padding: 30px 0px 30px 0px;
  padding-left: 44px;
  position: relative;
}
.aside__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 31px;
}
.aside__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  position: relative;
  padding-left: 44px;
  padding-block: 17.5px;
  cursor: pointer;
}

.hidden_link {
  position: absolute;
  inset: 0;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #343c6a;
}

.profile {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  padding: 30px 40px;
}
.profile__inner {
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 55px;
  background-color: var(--color-abs-white);
  border-radius: 25px;
}
.profile__list {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
  font-family: var(--ff-intreg);
  font-size: var(--f-size16);
  font-weight: 500;
  border-bottom: 1px solid var(--color-lines);
}
.profile-item a {
  padding: 10px 18px;
}
.profile-item a:hover {
  color: var(--color-main);
}
.profile__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 53px;
     -moz-column-gap: 53px;
          column-gap: 53px;
}
.profile__img {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.profile__img img {
  width: 130px;
  aspect-ratio: 1;
}
.profile__img::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(./src/img/profile/change.svg);
  position: absolute;
  right: 0px;
  bottom: 15px;
}

.profile-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 29px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 22px 1fr 22px 1fr 22px 1fr 22px 1fr 22px 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 29px;
  grid-row-gap: 22px;
}

.profile-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.profile-form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.profile-form > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.profile-form > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.profile-form > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.profile-form > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.profile-form > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.profile-form > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.profile-form > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.profile-form > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.profile-form > *:nth-child(11) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.profile-form > *:nth-child(12) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}
.profile-form-wrapper {
  width: 100%;
}
.profile-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 11px;
}
.profile-form__field-p {
  font-size: var(--f-size16);
  color: var(--font-gray);
  font-family: var(--ff-intreg);
}
.profile-form__field-input {
  font-family: var(--ff-intreg);
  background-color: var(--color-abs-white);
  border: 1px solid var(--color-input-border);
  color: var(--color-nav-blue-gray);
  border-radius: 15px;
  padding: 15px 20px;
  font-size: var(--f-size15);
  line-height: 18px;
}
.profile-form__field-input::-webkit-input-placeholder {
  color: var(--color-nav-blue-gray);
}
.profile-form__field-input::-moz-placeholder {
  color: var(--color-nav-blue-gray);
}
.profile-form__field-input:-ms-input-placeholder {
  color: var(--color-nav-blue-gray);
}
.profile-form__field-input::-ms-input-placeholder {
  color: var(--color-nav-blue-gray);
}
.profile-form__field-input::placeholder {
  color: var(--color-nav-blue-gray);
}
.profile-form__field-input:focus {
  outline: 1px solid var(--color-main);
}
.profile-form__field-input:hover {
  background-color: var(--color-input-border);
}
.profile-form__button {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 6/2/7/3;
  background-color: var(--color-main);
  color: var(--color-abs-white);
  border-radius: 15px;
  width: 190px;
  height: 50px;
  margin-left: auto;
  font-family: var(--ff-intreg);
}

@media (max-width: 99999px) {
  .header-mobile {
    display: none;
  }
}
@media (max-width: 500px) {
  .body {
    min-width: 375px;
  }
  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__title {
    font-size: var(--f-size20);
  }
  .header__avatar-img {
    width: 35px;
  }
  .header-mobile__button {
    background-color: var(--color-abs-white);
    width: 35px;
    height: 35px;
  }
  .aside {
    display: none;
  }
  .header {
    display: none;
  }
  .profile__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-form {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    grid-row-gap: 20px;
  }
  .profile__list {
    width: 100%;
    -webkit-column-gap: 0px !important;
       -moz-column-gap: 0px !important;
            column-gap: 0px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 25px;
  }
  .profile__inner {
    padding: 22px 20px;
  }
  .profile-item {
    width: 80px;
    height: 25px;
    font-size: 13px;
    line-height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile-item a {
    padding: 0 !important;
  }
  .active::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    background-color: var(--color-main);
    border-radius: 10px 10px 0 0;
    left: -7px;
    bottom: -7px;
  }
  .profile__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 170px;
  }
  .profile__img img {
    width: 170px;
    aspect-ratio: 1;
  }
  .profile__img::after {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(./src/img/profile/change.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 15px;
  }
  .profile-form__field-p {
    font-size: 13px;
    color: var(--font-gray);
    font-family: var(--ff-intreg);
  }
  .profile-form-wrapper {
    padding-top: 22px;
  }
  .profile-form__field-input {
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 10px;
  }
  .profile {
    padding: 25px 25px 0 25px;
  }
  .profile-form__button {
    margin: 0;
    width: 100%;
  }
  .header-mobile-icon, .header-mobile-button {
    width: 16px;
    height: 16px;
  }
}