/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #364127;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    background-color: var(--buttonsColor);
    color: var(--mainColor);
}

.like:hover {
    stroke: red;
    fill: red;
    background-color: hsl(0, 96%, 69%);
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
    background-color: var(--buttonsColor);
    color: var(--mainColor);
}

.black {
    font-family: var(--fontfamilyInterSemi);
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--fontColorBlack);
    color: var(--fontColorBlack);
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

@font-face {
    font-family: "Inter";
    src: url(./src/fonts/Inter-Medium.otf);
}
@font-face {
    font-family: "InterRegular";
    src: url(./src/fonts/Inter-Regular.otf);
}
@font-face {
    font-family: "KhadMedium";
    src: url(./src/fonts/Khand-Medium.ttf);
}
@font-face {
    font-family: "InterSemiBold";
    src: url(./src/fonts/Inter-SemiBold.otf);
}
@font-face {
    font-family: "RobotoRegular";
    src: url(./src/fonts/Roboto-Regular.ttf);
}

:root {
    --mainColor: #ffffff;
    --fontColorBlack: #000000;
    --mainColorDark: #333333;
    --mainColorDarkLighter: #A747474;
    --buttonsColor: #6bb252;
    --buttonsColorNotUse: #f1f1f1;
    --borderBoxColor: #d8d8d8;
    --SearchAreaBgColor: #f5f5f5;
    --svgWidthMain: 24px;
    --borderRadius: 10px;
    --fontfamilyInterMed: "Inter";
    --fontfamilyInterReg: "InterRegular";
    --fontfamilyInterSemi: "InterSemiBold";
    --fontfamilyRobotoReg: "RobotoRegular";
    --defaultFontSize: clamp(14px, 0.73vw, 14px);
    overflow-x: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

section {
    width: 1600px;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    row-gap: 40px;
}

Header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 84px;
    background-color: var(--mainColor);
    align-items: center;
    justify-content: space-between;
}

.header_navigation_start {
    display: flex;
    flex-direction: row;
    font-family: "KhadMedium";
    font-size: 40px;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding-inline: 20px;
}

.header_navigation_start {
    .select_block {
        display: grid;
        align-content: center;
    }

    .select_block img {
        min-width: var(--svgWidthMain);
        aspect-ratio: 1;
    }
}

.logo {
    width: 44px;
    height: 35px;
}

form {
    border-radius: var(--borderRadius);
    display: grid;
    flex-direction: row;
    grid-template-columns: 400px auto;
    box-sizing: border-box;
    width: 500px;
    border-radius: var(--borderRadius);
    height: 45px;
}

form {
    .header__form_searchArea {
        width: 400px;
        background-color: var(--SearchAreaBgColor);
        padding: 15px 20px;
        border-radius: 10px 0 0 10px;
        border: 1px solid var(--borderBoxColor);
        font-family: sans-serif;
    }

    .header_form__searchConfirmButton {
        width: 100%;
        font-family: "Inter";
        font-size: var(--defaultFontSize);
        text-transform: uppercase;
        line-height: 15px;
        padding-block: 15px;
        border-radius: 0 10px 10px 0;
    }
}

.header_navbar {
    font-family: var(--fontfamilyInterMed);
    color: var(--fontColorBlack);
    display: grid;
    width: 475px;
    grid-template-columns: repeat(5, 20%);
    height: 100%;
    align-content: center;
}

.header_navbar li {
    text-transform: uppercase;
    font-size: var(--defaultFontSize);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

.header_navbar li a {
    line-height: 17px;
    text-transform: uppercase;
    font-size: var(--defaultFontSize);
    padding: 0.52vw;
    transition: 0.2s ease-in-out;
}

.header_navbar li:hover {
    border-bottom: 3px solid #364127;
}

.header_navigation_right {
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
    }

    ul li {
        padding-inline: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul img {
        width: var(--svgWidthMain);
        aspect-ratio: 1;
    }
}

@media (max-width: 1350px) {
    Header {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header_navigation_start {
        flex-basis: 30%;
    }

    .header_navigation_right {
        display: inline-flex;
    }
}

@media (max-width: 510px) {
    Header form {
        display: flex;
        width: 400px;
    }

    form .header_form__searchConfirmButton {
        width: 40%;
    }
}

@media (max-width: 450px) {
    Header form {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    form {
        .header__form_searchArea {
            display: flex;
            width: 200px;
        }
    }
}

.FullScreenBlock {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100vw;
    height: 80vh;
    background-image: url(./src/image/fullscreen_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-inline: 20%;
    justify-content: center;
    margin-bottom: 40px;
}

.Slogan {
    font-family: var(--fontfamilyInterReg);
    font-size: clamp(50px, 3.65vw, 70px);
    align-items: start;
    width: 575px;
}

.Slogan span:not(:nth-child(2)) {
    font-family: var(--fontfamilyInterMed);
    font-weight: bold;
    color: var(--buttonsColor);
}

.Slogan span:not(:nth-child(1)) {
    font-family: var(--fontfamilyInterMed);
    font-weight: bold;
    color: var(--fontColorBlack);
}

.FullScreenBlock_buttons {
    display: flex;
    gap: 10px;
}

.FullScreenBlock_button {
    font-size: 20px;
    border-radius: 110px;
    padding: 20px 40px;
    font-family: var(--fontfamilyInterMed);
    line-height: 20px;
}

.btnBlack {
    background-color: #000000;
}

.advantagesInNumbers {
    width: 570px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.advantagesInNumbers li {
    font-size: 14px;
    font-family: var(--fontfamilyInterReg);
    text-transform: uppercase;
    display: flex;
}

.advantagesInNumbers li span {
    font-size: 32px;
    font-family: var(--fontfamilyInterMed);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
}

.advantagesInNumbers {
    p {
        width: 85px;
    }
}

.advantages {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    bottom: 0;
}

.advantages li {
    display: flex;
    align-items: center;
    padding: 20px;
    column-gap: 20px;
}

.advantages_discription {
    width: 300px;
}

.advantages li:nth-child(1) {
    background-color: #f95f09;
}

.advantages li:nth-child(2) {
    background-color: #364127;
}

.advantages li:nth-child(3) {
    background-color: #6bb252;
}

.advantages li {
    h2 {
        font-size: clamp(18px, 1.25vw, 24px);
        color: var(--mainColor);
        font-weight: bold;
        font-family: var(--fontfamilyInterMed);
    }
    p {
        font-size: 16px;
        font-family: sans-serif;
        color: var(--mainColor);
    }
}

@media (max-width: 1400px) {
    .advantages_discription {
        width: auto;
    }
}

@media (max-width: 1300px) {
    .advantages {
        opacity: 0;
        transition: 1s ease-in;
    }
}

@media (max-width: 800px) {
    .FullScreenBlock {
        padding-inline: 10%;
    }
    .Slogan {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .FullScreenBlock {
        height: auto;
        padding-block: 10%;
    }
    .advantagesInNumbers {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .FullScreenBlock_buttons {
        display: flex;
        flex-direction: column;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pagination p {
    font-size: clamp(24px, 1.66vw, 32px);
    font-family: var(--fontfamilyInterReg);
}

.pagination__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
}

.annotation::before {
    content: "View All Categories ➝";
    line-height: 22px;
    font-family: sans-serif;
    align-items: center;
    display: flex;
    margin-right: 50px;
    color: #787878;
}

.pagination__button {
    border-radius: var(--borderRadius);
    width: 40px;
    aspect-ratio: 1;
    background-color: var(--buttonsColorNotUse);
    color: var(--mainColorDark);
}

.active {
    color: white;
    background-color: var(--buttonsColor);
}

.active {
    svg > * {
        fill: white;
    }
}

.pagination__button--wide {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: var(--borderRadius);
    font-family: var(--fontfamilyInterMed);
    letter-spacing: 1px;
}

.popular_items--list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
    font-family: var(--fontfamilyInterReg);
    font-size: 16px;
}

.popular_items--list {
    li {
        display: flex;
        flex-direction: column;
        row-gap: 19px;
        align-items: center;
    }
    img {
        width: 160px;
        aspect-ratio: 1;
    }
}

@media (max-width: 1650px) {
    section {
        width: 90%;
    }
    .popular_items--list {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 40px;
    }
}

@media (max-width: 800px) {
    .popular_items--list {
        grid-template-columns: repeat(3, 1fr);
        transition: 0.33s ease-in-out;
    }

    .annotation::before {
        margin-right: 15px;
    }
}

@media (max-width: 675px) {
    .popular_items--list {
        grid-template-columns: repeat(3, 1fr);
        transition: 0.33s ease-in-out;
    }

    .annotation::before {
        margin-right: 10px;
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .popular_items--list {
        grid-template-columns: repeat(2, 1fr);
        transition: 0.33s ease-in-out;
    }

    .popular_items--list {
        img {
            width: 1;
        }
    }

    .annotation::before {
        display: none;
    }
}

.items__list {
    width: 100%;
}

.items__list--table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 300px);
    align-content: center;
    gap: 30px;
}

.short {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 300px);
    align-content: center;
    gap: 30px;
    transition: 0.1s linear;
}

.items__list--table li {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    row-gap: 5px;
    transition: 0.2s ease-in-out;
}

.items__list--table li:hover {
    box-shadow:
        rgba(0, 0, 0, 0.07) 0px 1px 2px,
        rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px,
        rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.hover--content {
    display: none;
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: white;
}

.items__list--table li:hover {
    margin-top: -20px;
    z-index: 100;
    .hover--content {
        display: block;
        bottom: 0;
        height: auto;
        animation: open 0.5s;
        z-index: 100;
        box-shadow:
            rgba(0, 0, 0, 0.07) 0px 1px 2px,
            rgba(0, 0, 0, 0.07) 0px 2px 4px,
            rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px,
            rgba(0, 0, 0, 0.07) 0px 16px 32px,
            rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
}

.short li:hover {
    margin-top: 0;
    box-shadow: none;
    background-color: #d3d3d3;
    cursor: pointer;
    transition: 0.3s linear;
}

@keyframes open {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: block;
    }
}

.items__list--table li {
    p {
        font-family: var(--fontfamilyInterReg);
        font-size: 16px;
    }

    .item--cost {
        font-family: sans-serif;
        font-size: 17px;
        line-height: 17px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .item--cost::before {
        content: "$11.00";
        font-family: sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #777777;
        text-decoration: line-through;
        margin-right: 6px;
    }

    .item--cost::after {
        content: "10% OFF";
        font-family: sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #777777;
        text-decoration: line-through;
        margin-left: 6px;
        border: 1px solid #777777;
        padding: 4px;
    }

    .item--rating img {
        width: 20px;
        aspect-ratio: 1;
    }

    .item--rating {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .item--rating::after {
        content: "(221)";
        font-size: 15px;
        line-height: 20px;
        font-family: var(--fontfamilyInterSemi);
        color: #777777;
        margin-left: 10px;
    }

    .item--buttonsCount {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 3px;
        margin-block: 20px;
    }
}

.transparentButtons {
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #e2e2e2;
    color: #222222;
    line-height: 8px;
}

.item--buttonsCount input {
    font-family: var(--fontfamilyInterReg);
    width: 30px;
    aspect-ratio: 1;
    text-align: center;
}

.buttonCount--button {
    font-weight: bold;
    line-height: 8px;
    padding: 10px;
}

.item--buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.item--buttons {
    .buttons--button {
        display: flex;
        background-color: transparent;
        border-radius: var(--borderRadius);
        border: 1px solid var(--fontColorBlack);
        padding: 10px;
        color: var(--fontColorBlack);
        text-transform: uppercase;
        font-family: var(--fontfamilyInterS);
        font-size: 13px;
        line-height: 20px;
    }

    .buttons--button p {
        display: flex;
        font-family: var(--fontfamilyInterSemi);
        font-size: clamp(10px, 0.68vw, 13px);
    }

    .buttons--button p::before {
        content: "";
        width: 0.94vw;
        aspect-ratio: 1;
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./src/icons/tdesign_cart-add.svg);
        margin-right: 10px;
    }
}

@media (max-width: 1300px) {
    .items__list--table {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 300px);
    }

    .short {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
    }
}

@media (max-width: 700px) {
    .items__list--table {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    .short {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .hover--content {
        display: block;
        box-shadow: none;
    }

    .hover--content {
        display: block;
        box-shadow: none;
    }

    .items__list--table li:hover {
        .hover--content {
            box-shadow: none;
            animation: none;
        }
    }

    .items__list--table li {
        border: 1px solid #bfbfbf;
    }
}

@media (max-width: 450px) {
    .items__list--table {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 500px);
    }

    .items__list--table li:nth-child(1n + 4) {
        display: none;
    }
}

/* BOX SHADOW ADAPTIVE SMARTPHONES ^^^^^^*/

.banners {
    display: grid;
    height: 600px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    .big {
        grid-area: 1 / 1 / 3 / 2;
    }
    .default1 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .default2 {
        grid-area: 2 / 2 / 3 / 3;
    }
}

.banner__block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding-inline: 40px;
    color: var(--mainColor);
    text-align: left;

    .banner--title {
        font-family: var(--fontfamilyInterSemi);
        font-size: 40px;
        line-height: 60px;
    }

    .banner--discription {
        font-family: sans-serif;
        font-size: 24px;
    }

    .banner--link {
        font-family: var(--fontfamilyInterSemi);
        font-size: 17px;
        line-height: 25px;
        text-transform: uppercase;
        border-bottom: 2px solid var(--mainColor);
        color: var(--mainColor);
    }
}

.default1,
.big,
.default2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.big {
    background-image: url(./src/image/banner-ad-1.jpg);
}

.default1 {
    background-image: url(./src/image/banner-ad-2.jpg);
}

.default2 {
    background-image: url(./src/image/banner-ad-3.jpg);
}

@media (max-width: 1200px) {
    .banners {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .banner__block {
        display: flex;
        height: 300px;
        flex-direction: column;
        padding-inline: 20px;
        padding-block: 20px;
    }

    .banners {
        height: auto;
    }
}

.article-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.articles--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding-inline: 20px;
    color: var(--mainColor);
    text-align: left;
    row-gap: 10px;
    padding: 30px;
    h2 {
        font-family: var(--fontfamilyInterSemi);
        font-size: 21px;
        color: var(--mainColorDark);
    }

    p {
        font-family: var(--fontfamilyRobotoReg);
        font-size: 17px;
        color: #747474;
    }
}

.block_date-attribute {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.articles__article {
    border: 1px solid #d3d3d3;
}

.content--date,
.content--attribute {
    display: flex;
    line-height: 25px;
    text-align: center;
    justify-content: left;
    align-items: center;
}

.content--date::before,
.content--attribute::before {
    display: block;
    width: 24px;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.content--date::before {
    content: "";
    background-image: url(./src/icons/uil_calender.svg);
}

.content--attribute::before {
    content: "";
    background-image: url(./src/icons/uil_folder.svg);
}

@media (max-width: 1100px) {
    .articles--content {
        padding: 10px;
        min-height: 300px;
        justify-content: space-between;
    }
}

@media (max-width: 960px) {
    .article-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .articles__article:nth-child(3) {
        display: none;
    }

    .articles--content {
        padding: 5px;
        min-height: 250px;
        justify-content: space-between;

        h2 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 640px) {
    .article-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 550px) {
    .article-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

    .articles--content {
        min-height: 180px;
    }
}

@media (max-width: 410px) {
    .articles--content {
        h2 {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }
    }

    .black {
        font-size: 14px;
    }
}

.registration {
    background-image: url(./src/image/banner-newsletter.jpg);
    padding: 60px 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.registration__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    row-gap: 20px;
}

.registration__wrapper {
    .wrapper__information,
    .wrapper__form {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

.wrapper__information {
    text-align: left;
    h2 {
        font-family: var(--fontfamilyInterMed);
        font-size: 38px;
        color: var(--mainColor);
        width: 450px;
    }

    p {
        font-family: sans-serif;
        font-size: 19px;
        color: var(--mainColor);
        width: 100%;
        width: 450px;
    }
}

.wrapper__form {
    width: 550px;
    row-gap: 14px;
    .email {
        width: 100%;
        background-color: var(--mainColor);
        border: 1px solid var(--SearchAreaBgColor);
        width: 100%;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 38px;
        padding: 10px 20px;
    }

    .submitButton {
        width: 100%;
        font-family: sans-serif;
        font-size: 16px;
        padding: 12px 180px;
        line-height: 36px;
    }
}

.email::placeholder {
    content: "";
    display: block;
    color: #000000;
    width: 16px;
    height: 12px;
    background-image: url(./src/icons/email.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

@media (max-width: 1450px) {
    .registration {
        height: auto;
    }
    .registration__wrapper {
        display: flex;
        flex-direction: column;
    }

    .wrapper__form {
        width: 100%;
        row-gap: 14px;
    }

    .registration__wrapper {
        .wrapper__information,
        .wrapper__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
        }
    }
}

@media (max-width: 1000px) {
    .registration {
        padding: 60px 5%;
    }
}

@media (max-width: 600px) {
    .wrapper__information {
        row-gap: 10px;
    }
    .wrapper__information {
        h2 {
            font-size: 18px;
            width: auto;
            text-align: center;
        }

        p {
            width: auto;
            text-align: center;
            font-size: 16px;
        }
    }

    .wrapper__form {
        .submitButton {
            width: 100%;
            font-family: sans-serif;
            font-size: 16px;
            padding: 12px 0;
            line-height: 36px;
        }
    }
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
    background-color: #ddf6d5;
    background-image: url(./src/image/banner-onlineapp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% 50%;
}

.download-ifno-buttons {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
}

.download-ifno-buttons {
    h2 {
        font-size: 32px;
        font-family: var(--fontfamilyInterReg);
        color: #222222;
    }

    p {
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 1px;
        color: #555555;
    }
}

.download__selection {
    display: flex;
    column-gap: 14px;
}

@media (max-width: 1350px) {
    .download-ifno-buttons {
        width: 100%;
        padding-left: 10%;
    }
}

@media (max-width: 800px) {
    .download {
        position: relative;
        background-position: bottom;
    }

    .download::after {
        content: "";
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.4); /* Это затемнение. Его степень можно отрегулировать... */
        width: 100%;
        height: 100%;
        z-index: 50;
    }

    .download-ifno-buttons {
        width: 100%;
        align-items: center;
        padding-left: 0;
        z-index: 100;
        h2,
        p {
            color: var(--mainColor);
        }
    }
}

@media (max-width: 600px) {
    .download {
        height: auto;
        padding: 5%;
    }
    .download-ifno-buttons {
        height: auto;
    }

    .download-ifno-buttons {
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 15px;
        }

        .download__selection {
            flex-direction: column;
            row-gap: 20px;
        }
    }
}

.pluses__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}

.wrapper__item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 30px;
    color: var(--mainColorDark);
    border: 1px solid #d2d2d2;
    h2 {
        font-family: var(--fontfamilyInterSemi);
        font-size: 21px;
    }

    p {
        font-family: sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

.wrapper__item img {
    width: 48px;
    aspect-ratio: 1;
}

@media (max-width: 1200px) {
    .pluses__wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-row: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 700px) {
    .pluses__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-row: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 400px) {
    .wrapper__item {
        padding: 20px 10px;
        h2 {
        }

        p {
        }
    }
}
/* Последний блок да адаптируй ежже*/

.items__searched {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.searched__item {
    display: flex;
    background-color: #ddf6d5;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 12px;
    color: #555555;
    letter-spacing: 1px;
    border-radius: var(--borderRadius);
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer__wrapper {
        width: 1600px;
    }
}

.tall {
    font-size: 70px;
    img {
        width: 70px;
        height: 70px;
    }

    p {
        line-height: 2px;
    }
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 120px;
    padding-block: 20px;

    .wrapper__logo__links {
        display: flex;
        flex-direction: column;

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 13px;

            a {
                display: grid;
                align-content: center;
                justify-content: center;
                width: 45px;
                aspect-ratio: 1;
                border: 1px solid #efefef;
                border-radius: 4px;
                transition: 0.3s ease-in-out;
            }

            a:hover {
                box-shadow:
                    rgba(0, 0, 0, 0.07) 0px 1px 2px,
                    rgba(0, 0, 0, 0.07) 0px 2px 4px,
                    rgba(0, 0, 0, 0.07) 0px 4px 8px,
                    rgba(0, 0, 0, 0.07) 0px 8px 16px,
                    rgba(0, 0, 0, 0.07) 0px 16px 32px,
                    rgba(0, 0, 0, 0.07) 0px 32px 64px;
                img {
                    -webkit-filter: grayscale(100) brightness(0);
                    filter: grayscale(100) brightness(0);
                }
            }
        }
    }
}

.links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: sans-serif;
    h2 {
        font-size: 20px;
        color: #222222;
    }

    a {
        font-size: 16px;
        color: #747474;
        letter-spacing: 1px;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

.email-short {
    width: 300px;
}

.footer__email {
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: 210px auto;
    box-sizing: border-box;
    width: 500px;
    border-radius: var(--borderRadius);
    height: 45px;
    .sendMailFooter {
        width: 210px;
    }
    .sendMailFooter_Button {
        width: 80px;
    }
}

@media (max-width: 1600px) {
    .links {
        display: none;
    }

    .footer__wrapper {
        grid-template-columns: auto;
    }
}

.popular_items--list {
    width: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    overflow-x: hidden; /* Скрывает элементы за пределами области просмотра */
    scroll-behavior: smooth; /* Плавная прокрутка */
}

.short {
    width: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, auto);
    scroll-behavior: smooth; /* Плавная прокрутка */
    gap: 0;
    position: relative;
    overflow-y: none;
    overflow-x: hidden; /* Скрывает элементы за пределами области просмотра */
}

.short li {
    width: calc(1600px / 5);
    z-index: 1000;
    transition: transform 0.3s ease;
    padding-block: 15px;
}

.popular_items--list li {
    min-width: 200px; /* Минимальная ширина элемента */
}

.popular_items__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular_items__pagination--wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination__button {
    cursor: pointer;
}

@media (max-width: 1700px) {
    .popular_items__pagination--wrapper {
        width: 90%;
    }

    .popular_items {
        width: 100vw;
    }
    .popular_items--list li {
        min-width: calc(100vw / 6); /* Минимальная ширина элемента */
    }
}

@media (max-width: 1400px) {
    .popular_items--list li {
        min-width: calc(100vw / 5); /* Минимальная ширина элемента */
    }
}

@media (max-width: 950px) {
    .popular_items--list li {
        min-width: calc(100vw / 4); /* Минимальная ширина элемента */
    }
}

@media (max-width: 750px) {
    .popular_items--list li {
        min-width: calc(100vw / 3); /* Минимальная ширина элемента */
    }
}

@media (max-width: 550px) {
    .popular_items--list li {
        min-width: calc(100vw / 2); /* Минимальная ширина элемента */
    }
}

@media (max-width: 450px) {
    .popular_items--list li {
        min-width: calc(100vw / 1); /* Минимальная ширина элемента */
    }
}
