@mixin border-main {
    border: 1px solid var(--color-lines);
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-center-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}
