@font-face {
    font-family: "pop-reg";
    src: url(./public/src/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "pop-med";
    src: url(./public/src/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "pop-bold";
    src: url(./public/src/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "pop-semibold";
    src: url(./public/src/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "inter";
    src: url(./public/src/fonts/Inter-Bold.woff2);
}
